bcrypt==3.1.4
certifi==2018.8.24
cffi==1.11.5
Click==7.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.1.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.2
pandas==0.23.4
pycparser==2.19
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Werkzeug==0.14.1
wincertstore==0.2
jupyter==1.0.0
requests==2.19.1
pymongo==3.7.2
