<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingeworthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Bingeworthy
                    <!-- <img class="nav-ufo" src="https://media.giphy.com/media/l2QZXpPQJnW3IvbyM/giphy.gif">  -->
                </a>
            </div>
        </div>
    </nav>
    <div class="hero text-center">
        <h1>Bingeworthy</h1>
        <p>Find a Show Worth Binging</p>
        <p>Share You're Binging Tips with Friends</p>
    </div>
    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-4 col-xs-0"></div>
            <div class="col-md-4 col-xs-12">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Register</div>
                        <div class="panel-body">
                            <form method="POST" action="/send_register" role="form" name="register">
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="screen_name">Screen Name</label>
                                            <input name="screen_name" class="form-control" id="screen_name" type="text"
                                                   placeholder="Enter screen name / handle">
                                        </li>
                                        <li class="filter list-group-item">
                                            <label for="first_name">First Name</label>
                                            <input name="first_name" class="form-control" id="first_name" type=""
                                                   placeholder="your password">
                                        </li>
                                    </ul>
                                </div>
                                <span>
                        <button id="input-btn-login" type="submit" class="btn btn-default" value="login">Submit</button>
                      </span>
                            </form>
                            <!-- Separate Logon from New Member Registration below -->
                            <hr>

                            <!-- New Member Form -->
                            <div class="panel-heading">New Member Registration</div>
                            <form method="POST" action="/send_form2" role="form" , name="register">
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="login_register">New Login Name</label>
                                            <input name="new_email" class="form-control" id="login_register" type="text"
                                                   placeholder="your email">
                                        </li>
                                        <li class="filter list-group-item">
                                            <label for="password1">Enter New Password</label>
                                            <input name="password1" class="form-control" id="password1" type="password"
                                                   placeholder="new password">
                                        </li>
                                        <li class="filter list-group-item">
                                            <label for="password2">Re-enter New Password</label>
                                            <input name="password2" class="form-control" id="password2" type="password"
                                                   placeholder="re-enter new password">
                                        </li>
                                    </ul>
                                </div>
                                <span>
                    <button id="input-btn-register" type="submit" class="btn btn-default"
                            value="register">Submit</button>
                  </span>
                            </form>
                        </div>
                    </div>
                </aside>
                <div class="col-md-4 col-xs-0"></div>
            </div>
            <!-- <div> empty dive placeholder </div> -->
        </div>
    </div>
    <footer class="footer">
        <span class="bottom">Bingeworthy</span>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<!-- <script src="static/js/app.js"></script>
<script src="static/js/data.js"></script> -->
</body>

</html>
