<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bingeworthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Bingeworthy
                    <!-- <img class="nav-ufo" src="https://media.giphy.com/media/l2QZXpPQJnW3IvbyM/giphy.gif">  -->
                </a>
            </div>
        </div>
    </nav>
    <div class="hero text-center">
        <h1>Bingeworthy</h1>
        <p>Find a Show Worth Binging</p>
        <p>Share You're Binging Tips with Friends</p>
    </div>
    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">New Member Registration</div>
                    <div class="panel-body"></div>
                    <form method="POST" action="/register" role="form" name="register">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="filter list-group-item">
                                    <label for="login_register">New Login Name</label>
                                    <input name="new_email" class="form-control" id="login_register" type="text"
                                           placeholder="your email">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="password1">Enter New Password</label>
                                    <input name="password1" class="form-control" id="password1" type="password"
                                           placeholder="new password">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="password2">Re-enter New Password</label>
                                    <input name="password2" class="form-control" id="password2" type="password"
                                           placeholder="re-enter new password">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="first_name">First Name</label>
                                    <input name="first_name" class="form-control" id="first_name" type="text"
                                           placeholder="enter your first name">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="last_name">Last Name</label>
                                    <input name="last_name" class="form-control" id="last_name" type="text"
                                           placeholder="enter your last name">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="screen_name">Enter screen name / handle</label>
                                    <input name="screen_name" class="form-control" id="screen_name" type="text"
                                           placeholder="anonymous screen name">
                                </li>
                                <!-- <li class="filter list-group-item">
                                    <label for="group">Enter your group</label>
                                    <input name="group" class="form-control" id="group" type="text"
                                        placeholder="enter one group">
                                </li> -->
                                <li class="filter list-group-item">
                                    <label for="genre">Favorite Genre</label>
                                    <input name="genre" class="form-control" id="genre" type="text"
                                           placeholder="enter one favorite genre">
                                </li>
                                <li class="filter list-group-item">
                                    <label for="password2">Gender</label>
                                    <input name="gender" class="form-control" id="gender" type="text"
                                           placeholder="enter your gender">
                                </li>
                            </ul>
                        </div>
                        <span><button id="input-btn-register" type="submit" class="btn btn-default" value="register">Submit</button>
                        </span>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Logon</div>
                    <div class="panel-body">
                        <form method="POST" action="/login" role="form" name="login">
                            <div class="form-group">
                                <ul class="list-group">
                                    <li class="filter list-group-item">
                                        <label for="email">Enter Login Name</label>
                                        <input name="email" class="form-control" id="email" type="text"
                                               placeholder="your email">
                                    </li>
                                    <li class="filter list-group-item">
                                        <label for="password">Enter Password</label>
                                        <input name="password" class="form-control" id="password" type="password"
                                               placeholder="your password">
                                    </li>
                                </ul>
                            </div>
                            <span><button id="input-btn-login" type="submit" class="btn btn-default" value="login">Submit</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <footer class="footer">
    <span class="bottom">Bingeworthy</span>
</footer> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<!-- <script src="static/js/app.js"></script>
<script src="static/js/data.js"></script> -->
</body>

</html>
